@font-face {
    font-family: "MapleBold";
    src: url("../font/Maplestory\ Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    overflow: hidden;
    margin: 0px auto;
    max-width: 960px;
    background-color: #c6e700;
}

.grid {
    width: 100%;
    height: 100%;
    max-width: 960px;
    text-align: center;
    display: grid;
    position: absolute;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
}

.left-column {
    height: calc(100% - 40px);
    background-color: #181010;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-column {
    height: calc(100% - 60px);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.game-board {
    width: 100%;
    height: 85%;
    margin-top: 20px;
    align-self: center;
}

#board {
    width: calc(100% - 40px);
    height: 100%;
    align-self: center;
}

#canvasExp {
    width: 100%;
    height: 100%;
    align-self: center;
}

#next {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: #181010;
    border-radius: 10px;
    align-self: center;
}

.btn-group {
    width: calc(100% - 40px);
    height: 15%;
    margin-left: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-self: center;
}

.btn {
    cursor: pointer;
    border-radius: 10px;
    font-family: MapleBold;
    font-size: 30px;
}

.btn_left {
    background-color: #5a5a5a;
    border: none;
    color: #000000;
    margin-left: 10px;
    margin-right: 10px;
    flex: 1;
    height: 100%;
}

.btn_right {
    background-color: #ffffff;
    border: none;
    margin-top: 10px;
    width: 100%;
    height: 15%;
}

.info {
    margin: 0px auto;
    font-family: MapleBold;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_level {
    height: 10%;
    text-align: center;
}

.info_expbar {
    height: 4%;
}

.info_text {
    height: 10%;
}

.info_next {
    height: 30%;
}

.info_score {
    height: 16%;
}

