@font-face {
    font-family: "MapleBold";
    src: url("../font/Maplestory\ Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MapleLight";
    src: url("../font/Maplestory\ Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    overflow: hidden;
    margin: 0px auto;
    max-width: 960px;
    background-color: #b5b5b5;
}

.grid {
    width: 100%;
    height: 100%;
    max-width: 960px;
    text-align: center;
    display: grid;
    position: absolute;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
}

.left-column {
    height: calc(100% - 40px);
    background-color: #181010;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-column {
    height: calc(100% - 70px);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.game-board {
    width: 100%;
    height: 80%;
    margin-top: 20px;
}

#board {
    width: calc(100% - 40px);
    height: 100%;
}

#canvasExp {
    width: 100%;
    height: 100%;
}

#canvasTime {
    width: 100%;
    height: 100%;
}

.btn-group-1 {
    width: calc(100% - 40px);
    height: 10%;
    margin-left: 2px;
    margin-top: 10px;
    margin-bottom: 0px;
    display: flex;
    align-self: center;
}

.btn-group-2 {
    width: calc(100% - 40px);
    height: 10%;
    margin-left: 2px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-self: center;
}

.btn {
    cursor: pointer;
    border-radius: 10px;
    font-family: MapleBold;
    font-size: 30px;
}

.btn_left {
    background-color: #5a5a5a;
    border: none;
    color: #000000;
    margin-left: 10px;
    margin-right: 10px;
    flex: 1;
    height: 100%;
}

.btn_right {
    background-color: #ffffff;
    border: none;
    margin-top: 10px;
    width: 100%;
    height: 15%;
}

#btn_red {
    background-color: #ff4a42;
}

#btn_blue {
    background-color: #00c6ff;
}

#btn_yellow {
    background-color: #ffff00;
}

#btn_green {
    background-color: #00e700;
}

#btn_pink {
    background-color: #f763ff;
}

#btn_orange {
    background-color: #ffa500;
}

.info {
    margin: 0px auto;
    font-family: MapleBold;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_level {
    height: 10%;
    text-align: center;
}

.info_expbar {
    height: 4%;
}

.info_next {
    height: 17%;
}

.info_timelimit {
    height: 10%;
}

.info_timebar {
    height: 4%;
}

.info_score {
    height: 10%;
}

/* popup */
.popup_start, .popup_end {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0,0,0,0.9);
}

.popup_end {
    display: none;
}

.popup-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 90%;
    max-width: 480px;
    max-height: 360px;
    font-size: 16px;
    font-family: MapleLight;
    text-align: center;
    background: #ffffff;
    border-radius: 10px;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.popup-content::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.popup-content div {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.game-info-content p {
    margin-top: 15px;
}

#popup-title {
    font-size: 20px;
    font-weight: bold;
}

#name {
    border: none;
    font-size: 16px;
    font-family: MapleLight;
}

.popup-content a {
    width: 100px;
    height: 50px;
    line-height: 50px;
    margin: 0px auto;
    border: none;
    display: block;
    font-size: 16px;
    font-family: MapleLight;
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

/* @media */
@media screen and (max-width: 720px) {
    .grid {
        grid-template-columns: 75% 25%;
    }

    .left-column {
        height: calc(100% - 20px);
        margin: 10px;
    }

    .right-column {
        height: calc(100% - 50px);
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .game-board {
        height: 70%;
        margin-top: 10px;
    }

    #board {
        width: calc(100% - 20px);
    }

    .btn {
        font-size: 16px;
    }

    .btn-group-1 {
        width: calc(100% - 20px);
        height: 15%;
        margin-top: 5px;
    }

    .btn-group-2 {
        width: calc(100% - 20px);
        height: 15%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .btn_left {
        margin-left: 5px;
        margin-right: 5px;
    }

    .info {
        font-size: 16px;
    }

    .info_expbar {
        height: 3%;
    }

    .info_next {
        height: 19%;
    }

    .info_timebar {
        height: 3%;
    }
}