body {
    overflow: hidden;
    margin: 0px auto;
    max-width: 960px;
}

p {
    margin: 0px;
}

.grid {
    width: 100%;
    height: 100%;
    max-width: 960px;
    text-align: center;
    display: grid;
    position: absolute;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
}

.left-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-board {
    border: solid 2px;
    width: 100%;
    height: 85%;
}

.btn-group {
    width: 100%;
    height: 7.5%;
    margin-left: 2px;
    display: flex;
}

#btn_paint {
    background-color: #CCCCCC;
    flex: 1;
    height: 100%;
}

.right-column {
    height: 100%;
    margin-left: 2px;
}

#p_title {
    height: 10%;
}

#p_next {
    height: 25%;
}

#p_time {
    height: 10%;
}

#p_score {
    height: 10%;
}

#btn_pause {
    background-color: #999999;
    width: 100%;
    height: 15%;
}

#btn_submit {
    background-color: #999999;
    width: 100%;
    height: 15%;
}

#btn_erase {
    background-color: #999999;
    width: 100%;
    height: 15%;
}

.button {
    margin: 0px;
    font-size: 16px;
    cursor: pointer;
}

